[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paradag = "*"

[dev-packages]
mypy = "*"
black = "*"
flake8 = "*"
pylint = "*"
pytest = "*"
icecream = "*"

[requires]
python_version = "3.11"
